@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
.HomeCardImg{
    max-width: 100%;
}
.HomeCard{
    padding: 10px;
    box-shadow: 0 10px 7px 0 rgba(0, 0, 0, 0.2);
    width: 60vw;
    text-align: center;
}
.HomeCard h5{
    font-family: 'Michroma', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.Container{
    margin: 10vh 10vw 10vh 17vw;
}

@media (max-width:450px) {
    .Container{
        margin: 3vh 0 5vh 5vw;
    }
    .HomeCard{
        width: 90vw;
    }
    .HomeCardImg{
        max-width: 100%;
    }
}
@media screen and (min-device-width: 431px) and (max-device-width: 768px){
    .Container{
        margin: 3vh 0 5vh 5vw;
    }
    .HomeCard{
        width: 80vw;
    }
    .HomeCardImg{
        max-width: 100%;
    }   
}
@media screen and (min-device-width: 769px) and (max-device-width: 1024px){
    .Container{
        margin: 3vh 0 5vh 5vw;
    }
    .HomeCard{
        width: 80vw;
    }
    .HomeCardImg{
        max-width: 100%;
    }   
}